@model IEnumerable<TestApplication.Models.Employee>
@{
    ViewBag.Title = "Page1";
}

<div class="jumbotron" style="background-color:white;">
    <h2>@ViewBag.Name, @ViewBag.Title</h2>

    <a href="@Url.Action("Index", "Home")" class="btn btn-default right"><i class="fa fa-refresh"></i></a>

    <table class="table table-bordered table-hover" style="font-size:16px">
        <tr class="tab_header">
            <td> Name </td>
            <td> Company </td>
            <td> Email </td>
            <td> Phone </td>
            <td> Tags </td>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.ActionLink(item.Name.ToString(), "Info", "Home", item, null)
                </td>
                <td style="text-align: center; vertical-align: middle;"> @item.Company.ToString() </td>
                <td style="text-align: center; vertical-align: middle;"> @item.Email.ToString() </td>
                <td style="text-align: center; vertical-align: middle;"> @item.Phone.ToString() </td>
                <td class="tab_row">
                    @foreach (var tag in @item.Tags)
                    {
                        <div>
                            @Html.ActionLink(tag, "Index", "Home", new { @filterTag = tag }, null)
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>